body, html {
  height:100%;
}



/*
 * Off Canvas sidebar at medium breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 992px) {

  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -33%;
  }

  .row-offcanvas-left.active {
    left: 33%;
    margin-left: -6px;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    height: 100%;
  }
}

/*
 * Off Canvas wider at sm breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 34em) {
  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -45%;
  }

  .row-offcanvas-left.active {
    left: 45%;
    margin-left: -6px;
  }
  
  .sidebar-offcanvas {
    width: 45%;
  }
}

.card {
    overflow:hidden;
}

.card-body .rotate {
    z-index: 8;
    float: right;
    height: 100%;
}

.card-body .rotate i {
    color: rgba(20, 20, 20, 0.15);
    position: absolute;
    left: 0;
    left: auto;
    right: -10px;
    bottom: 0;
    display: block;
    -webkit-transform: rotate(-44deg);
    -moz-transform: rotate(-44deg);
    -o-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
}


.Department_List{
   
     display: block;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (min-width: 480px) {
 
    .Department_List{
    position: relative;
    left: 100px;
    bottom: 50px;
    width: 80%;
    height: 100%;
    

}
.studentStats {
  position: relative;
  left: 150px;
  max-width: 300px;
}
/* 
.studentOverall {
  position: relative;
  left: 250px;
} */

}

.side-nav{
  height: 0px;
}

/* .bi::before {
  display: inline-block;
  content: "";
  vertical-align: -.125em;
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
} */

.bi{
  font-size: 1.2rem;
  color:white;

  
}

.studentHomeCircle {
  padding: 20px 0px;
}

.chatji{
  position: relative;
  left: 10%;
}

.link_text{
  color: aliceblue;
}


.bar-container {
  width: 100%;
  height: 500px; /* default height */
}

@media only screen and (max-width: 600px) {
  .bar-container {
    height: 300px;
  }
}

@media only screen and (max-width: 480px) {
  .bar-container {
    height: 200px;
  }
  
  .studentStats {
    position: relative;
    left: 15%;
  }
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  width: 80%;
  height: 80%;
  max-width: 800px;
  max-height: 600px;
  background-color: white;
  padding: 20px;
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}



.first-card {
  background: linear-gradient(90deg, #19288d 30%, #3c5e7e 90%)
}

.second-card {
  background: linear-gradient(45deg, #41a531 30%, #3f925b 90%)
}

.third-card {
  background: linear-gradient(45deg, #d5112b 30%, #805843 90%)
}

.fourth-card {
  background: linear-gradient(45deg, #2a2a11 30%, #341a0b 90%)
}